
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Sosyal Medya Ekleme</h1>

<form method="post">
    <label>Sosyal Medya Uygulaması</label>
    <input type="text" class="form-control" name="SocialName" /> <br />
    <label>Sosyal Medya Linki</label>
    <input type="text" class="form-control" name="SocialLink" /> <br />
    <button class="btn btn-success">Ekle</button>
</form>