
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/UserLayout/PartialHead.cshtml")
<body>
    <div class="container-scroller">

        @await Html.PartialAsync("~/Views/UserLayout/PartialNavbar.cshtml")

        <div class="container-fluid page-body-wrapper">

            @await Html.PartialAsync("~/Views/UserLayout/PartialSidebar.cshtml")
            @RenderSection("Styles", required: false)

            <div class="main-panel">
               @RenderBody()
            </div>

        </div>

    </div>

    @await Html.PartialAsync("~/Views/UserLayout/PartialScript.cshtml")

</body>

</html>

