@model List<RandevuSistemi.Models.AdminSiniflar.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Kategori Sayfası</h1>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kategori İsmi</th>
                <th>Güncelle</th>
                <th>Sil</th>    
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td><a href="/Categories/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Categories/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/Categories/CreateCategory/" class="btn btn-dark">Ekle</a>

</div>