@model List<RandevuSistemi.Models.AdminSiniflar.HomePage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Anasayfa</h1>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Görsel</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.HomePageID</td>
                    <td>@item.NameSurname</td>
                    <td>@item.Description</td>
                    <td>@item.ImageUrl</td>
                    <td><a href="/HomePage/UpdateHomePage/@item.HomePageID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/HomePage/DeleteHomePage/@item.HomePageID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/HomePage/CreateHomePage/" class="btn btn-dark">Ekle</a>


