<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<ul class="list-unstyled components mb-5">
	<li class="active">
		<a href="/Categories/"><span class="fa fa-th-list mr-3"></span> Kategoriler</a>
	</li>
	<li>
		<a href="/HomePage/"><span class="fa fa-home mr-3"></span> Anasayfa</a>
	</li>
	<li>
		<a href="/Barber/"><span class="fa fa-users mr-3"></span> Kuaförler</a>
	</li>
	<li>
		<a href="/Price/"><span class="fa fa-wallet mr-3"></span> Fiyatlar</a>
	</li>
	<li>
		<a href="/Campaigns/"><span class="fa fa-percent mr-3"></span> Kampanyalar</a>
	</li>
	<li>
		<a href="/Comments/"><span class="fa fa-comments mr-3"></span> Yorumlar</a>
	</li>
	<li>
		<a href="/Services/"><span class="fa fa-concierge-bell mr-3"></span> Hizmetler</a>
	</li>
	<li>
		<a href="/About/"><span class="fa fa-info-circle mr-3"></span> Hakkımızda</a>
	</li>
	<li>
		<a href="/Contact/"><span class="fa fa-phone mr-3"></span> İletişim</a>
	</li>
	<li>
		<a href="/Messages/"><span class="fa fa-paper-plane mr-3"></span> Mesajlar</a>
	</li>
	<li>
		<a href="/SocialMedia/"><span class="fa fa-share-alt mr-3"></span> Sosyal Medya</a>
	</li>
	<li>
		<a href="/Hairdresser/"><span class="fa fa-share-alt mr-3"></span> Kuaför Ekle</a>
	</li>
	<li>
		<a href="/ALogin/"><span class="fa fa-share-alt mr-3"></span> Giriş Bilgileri</a>
	</li>
	<li>
		<a href="/Default/"><span class="fa fa-external-link-alt mr-3"></span> Sayfaya Git</a>
	</li>
	<li>
		<a href="/AdminLogin/"><span class="fa fa-external-link-alt mr-3"></span> Çıkış Yap</a>
	</li>
</ul>