@* @model List<RandevuSistemi.Models.AdminSiniflar.Messages>

<div class="col-lg-8">
    <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">

            <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Ad - Soyad" required="">
            </div>

            <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Email" required="">
            </div>

            <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Konu" required="">
            </div>

            <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Mesajınız" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
                <div class="loading">Yükleniyor</div>
                <div class="error-message"></div>
                <div class="sent-message">Mesajınız Gönderildi, Teşekkür Ederiz!</div>

                <button type="submit">Mesajı Gönder</button>
            </div>

        </div>
    </form>
</div><!-- End Contact Form --> *@